

@font-face {
    font-family: gotham;
    src: url(../mokmi-page/fonts/GothamMediumItalic.ttf);
    font-weight: 100;
}

@font-face {
    font-family: gotham;
    src: url(../mokmi-page/fonts/GothamLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: gotham;
    src: url(../mokmi-page/fonts/GothamMedium.ttf);
    font-weight: 300;
}

@font-face {
    font-family: gotham;
    src: url(../mokmi-page/fonts/GothamBold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: gotham;
    src: url(../mokmi-page/fonts/GothamBook.ttf);
    font-weight: 500;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: gotham;
}

.background-color {
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    margin: 0;
    z-index: 0;
}
.bg{
    width: 140%;
    height: 100%;
    opacity: 100%;
    background-color: black;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../mokmi-page/images/glitchgif.gif");
}
.bg2{
    width: 140%;
    height: 100%;
    opacity: 100%;
    background-color: black;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../mokmi-page/images/giphy.gif");
}
.bg3{
    width: 140%;
    height: 100%;
    opacity: 40%;
    background-color: black;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../mokmi-page/images/dcwk1rq-ed340bf9-1c33-4a83-818f-c572eeb63522.gif");
}
.background-code-top {
    width: 140%;
    height: 52%;
    opacity: 45%;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url("../mokmi-page/images/background-top.png");
    background-size: cover;
    background-position: -8vw 120%;
    position: fixed;
    margin: 0;
    z-index: 1;
    animation: left;
    animation-duration: 20s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}

.background-code-bottom {
    width: 140%;
    height: 50%;
    opacity: 45%;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url("../mokmi-page/images/background-bottom.png");
    background-size: cover;
    position: fixed;
    z-index: 1;
    margin-top: 50vh;
    animation: right;
    animation-duration: 20s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}


.container {
    display: grid;
    height: 100%;
    width: 100%;
    padding-top: 2%;

    grid-template-columns: repeat(3, 32.66666666666667vw);
    grid-template-rows: 16em 5em 5em 5em;
    grid-gap: 1vw;
}


.header {
    grid-column-start: 2;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    z-index: 1;
}

.header.style-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 3%;
    font-size: 2.5em;
    font-weight: 300;
}

.header.style-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 3%;
    font-size: 1.8em;
    font-weight: 500;
}

.button {
    font-family: gotham;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid #006F27;
    background-color: rgba(222, 187, 99, 0);
    color: #006F27;
    transition: 0.5s;
    border-radius: 3px;
    z-index: 1;
}

.button:hover{
    background-color: #14622964;
    font-size: 1.8em;
    cursor: pointer;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

@keyframes right{
    100% {
        background-position: 0vw 0%;
    }
    50% {
        background-position: -8vw 0%;
    }
}

@keyframes left{
    100% {
        background-position: -8vw 120%;
    }
    50% {
        background-position: 0vw 120%;
    }
}

@media only screen and (max-width: 1200px) {

    .background-code-bottom {
        opacity: 0;
    }
    .background-code-top {
        width: 100%;
        height: 150%;
    }
    .logo {
        width: 80%;
    }
    .header.style-2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .button {
        font-size: 1.3em;
        width: 70%;
    }
    .button:hover{
        font-size: 1.4em;
    }
    
}

@media only screen and (max-width: 600px) {
    .background {
        animation: none;
    }
    .container {
        padding-top: 20%;
    }
    .logo {
        width: 100%;
    }
    .header.style-1 {
        font-size: 2.7em;
    }
    .button {
        font-size: 1.1em;
        width: 100%;
    }
    .button:hover{
        font-size: 1.2em;
    }
}